{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "eslint-plugin-import-helpers"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "react/jsx-props-no-spreading": "off",
    "arrow-body-style": "off",
    "no-nested-ternary": "off",
    "import/no-extraneous-dependencies": "off",
    "no-undef": "off",
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          [
            "/^react/"
          ],
          [
            "module"
          ],
          [
            "/^~//"
          ],
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ]
  }
}